
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.carousel-item{
    padding: 20px 40px;

}
.price{
    color: #FF136F;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136F 100%);
    border: none;
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
}