
.container {
   
    margin-bottom: 100px;
}

.carousel-item{
    padding: 20px 40px;

}
.price{
    color: #FF136F;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136F 100%);
    border: none;
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.categories h1{
    color: white;
    
}

.categories img{
    width: 100px;
}

.card-box{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}